@import "_variables_overrides.scss";
@import "_utilities_custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

*{
    font-family: 'Source Sans Pro', sans-serif;
}
/*
body{
    font-size: medium;

}
*/
section{
    width: 80%;
    margin: auto;

}
#carouselPresentation{
    width:50%;
    max-height: 50%;
    margin: auto;
  }